<div class="profile-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="profile">
          <div class="name">
            <form [formGroup]="profileData" (ngSubmit)="updateProfile()">
              <div class="form-group row">
                <div class="col-sm-12">
                  <input type="text" class="form-control" placeholder="name" formControlName="name">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-12">
                  <input type="file" class="custom-file-input" name="avatar" accept="image/*" (change)="onFileChange($event)">
                  <label class="custom-file-label" for="customFile">Upload image</label>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-sm-12">
                  <input type="email" class="form-control" placeholder="Email" formControlName="email">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <input type="string" class="form-control" placeholder="Mobile Number" formControlName="mobile">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <input type="string" class="form-control" placeholder="City" formControlName="city">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <input type="date" class="form-control" placeholder="Date of Birth" formControlName="dob">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <input type="text" class="form-control" placeholder="Age" formControlName="age">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-primary btn-lg" [disabled]="profileData.invalid">Update
                    Profile</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
